<h2>@ViewBag.Message</h2>

<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/About.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

<br />
<br />
<div>
    <img class=" img-responsive" src="https://s1.qwant.com/thumbr/0x380/3/e/5cee2e7117948d4c306511795213a222e3a12bc7904bb91ab829bf823d4233/destination-tour-du-monde.jpg?u=http%3A%2F%2Fwww.jdubuzz.com%2Ffiles%2F2016%2F02%2Fdestination-tour-du-monde.jpg" />
</div>
<br />
<br />
<div>
    <p id="story">
        Voila 10 ans que  BoVoyage vous fait voyager  !
    <p>
        Au fil de ces années, nous avons enrichi nos expériences de nouvelles découvertes, d’émerveillement au cœur de lieux magiques, précieux, inédits... de belles rencontres, tissé des liens uniques avec des prestataires aux quatre coins du monde, et avons relevé le défi d'être là, encore et toujours à votre service avec la même passion !
    </p>
    <p>
        Nous proposons un large choix de destinations à travers le monde avec différentes formules de voyages. Des plages paradisiaques du Brésil aux activités hivernales de la Suisse, des découvertes en Afrique ou au Canada...
    </p>
    <p>
        Circuit individuel ou en groupe, séjour balnéaire, croisière ou voyage sur mesure, nous répondrons à toutes vos envies !
    </p>
    <p>
        Notre service groupe conçoit des programmes uniques spécialement pour vous. De la réalisation du projet à l'accompagnement du groupe, nous sommes à vos côtés.
    </p>
    <p>
        Adhérent du réseau Tourcom, nous bénéficions des meilleurs accords commerciaux auprès des fournisseurs.
        Le choix de nos prestataires est primordial ! Ils sont reconnus et qualifiés de manière à garantir la qualité optimale du voyage.
    </p>
    <p>
        Notre expertise du voyage sur mesure nous amène à proposer aux entreprises un service dédié : voyage en groupe, fidélisation, ainsi que loisirs à destination des comités d'entreprises.
    </p>
    <p>
        Alors n'hésitez plus, venez vivre de nouvelles expériences avec BoVoyage !!!
    </p>
    </p>
</div>