
@{
    ViewBag.Title = "PayementRefuser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Annulation de votre réservation</h2>

<h4>Votre paiement a été refusé.</h4>
<h4>Votre réservation a été annulée. Nous vous informons que votre dossier a été supprimé.</h4>

